{% extends 'base.html' %}
{% block title %}Liste des Produits{% endblock %}

{% block content %}
    <div class="container mt-3">
        <h1>Produits Disponibles</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prix Normal</th>
                    <th>Prix Cotisant</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price|floatformat:2 }} €</td>
                        <td>
                            {% if product.has_subscriber_discount %}
                                <strong class="text-success">{{ product.subscriber_price|floatformat:2 }} €</strong>
                            {% else %}
                                <span class="text-muted">Pas de réduction</span>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr><td colspan="3">Aucun produit disponible.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
